body{ 
    background-color: #1c1c1c;
}

#container{
    margin: auto;
    /* width: 50%; */
    height: auto;
    background: #1c1c1c;
}

#main{
    width: 550px;
    height: 260px;
    margin: auto;
    background-image: linear-gradient(
        0deg,
        hsl(240deg 100% 20%) 0%,
        hsl(289deg 100% 21%) 19%,
        hsl(315deg 100% 27%) 34%,
        hsl(329deg 100% 36%) 46%,
        hsl(337deg 100% 43%) 56%,
        hsl(357deg 91% 59%) 65%,
        hsl(17deg 100% 59%) 73%,
        hsl(34deg 100% 53%) 82%,
        hsl(45deg 100% 50%) 90%,
        hsl(55deg 100% 50%) 100%
        );
}

p.heading {
    margin-top: 53px;
    margin-left: 51px;
    width: 450px;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px; /* identical to box height, or 173% */
    text-align: center;
    letter-spacing: -0.05em;
}

p.input{
    width: 211px;
    height: 51px;
    margin-left: 169px;
    margin-top: 29px;
    text-align: center;
}

input[type=text] {
    width: 211px;
    height: 80px;
    border: 0px;
    background: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 98px;
    line-height: 24px; /*or 25%*/
    text-align: center;
    color: #FFFFFF;
  }

  input[type=text]:focus {
    background: transparent;
    outline: none;
  }

#results{
    margin: auto;
    width: 550px;
    height: auto;
    background: #FFFFFF;
    text-align: center;
    font-size: 14px;
    line-height: 20px;/* or 143% */
    font-family: 'Inter';
    font-style: normal;
}

.title {
    margin-top:-20px;
    padding-top: 27px;
    margin-left: 102px;
    margin-bottom: 5px;
    width: 346px;
    height: 25px;
    font-weight: 600;
    color: #1A1921;
}

.text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
    width: 346px;
    height: 25px;
    font-weight: 400;
    color: #4E4E4E;
}
